@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table border="3" width="400" height="400" bgcolor="grey">
    <caption>Welcome to Smart Digital Class Room</caption>
    <tr>
        <th>Course Name</th>
        <th>Course Description</th>
        <th>Course Price</th>
    </tr>
    <tr>
        <td>Java</td>
        <td>Java Learning from scrach</td>
        <td>120</td>
    </tr>
    <tr>
        <td>Java</td>
        <td>Java Learning from scrach</td>
        <td>120</td>
    </tr>
    <tr>
        <td>Java</td>
        <td>Java Learning from scrach</td>
        <td>120</td>
    </tr>
    <tr>
        <td>Java</td>
        <td>Java Learning from scrach</td>
        <td>120</td>
    </tr>
</table>
